* {
  box-sizing: border-box;
}
body,
html {
  background: #ff5c5d;
  color: white;
  font-family: "PT Serif", Georgia, Times, serif;;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}
a {
  color: inherit;
}
img {
  vertical-align: bottom;
}
#masthead,
#colophon {
  background: white;
  color: #ff5c5d;
}
.site-info {
  padding: 1em;
}
.media-experience-since-tablet .site-info {
  margin: 0 auto;
  width: 720px;
  padding: 1em 0;
}
.media-experience-tablet--large .site-info,
.media-experience-since-desktop .site-info {
  width: 880px;
}
.site-branding {
  font-size: 1em;
}
.site-branding a {
  text-decoration: none;
  text-transform: uppercase;
}
.site-branding h1 {
  font-size: inherit;
  margin: 0;
}
.media-experience-phone--medium #logo,
.media-experience-phone--large #logo,
.media-experience-since-tablet #logo,
.media-experience-phone--medium .site-branding,
.media-experience-phone--large .site-branding,
.media-experience-since-tablet .site-branding {
  float: left;
  line-height: 2em;
  padding: 0.5em 1em;
}
.media-experience-phone--medium #logo img,
.media-experience-phone--large #logo img,
.media-experience-since-tablet #logo img {
  height: 2em;
  width: auto;
}
.media-experience-phone--medium #masthead:before,
.media-experience-phone--large #masthead:before,
.media-experience-since-tablet #masthead:before,
.media-experience-phone--medium #masthead:after,
.media-experience-phone--large #masthead:after,
.media-experience-since-tablet #masthead:after {
  content: " ";
  display: table;
}
.media-experience-phone--medium #masthead:after,
.media-experience-phone--large #masthead:after,
.media-experience-since-tablet #masthead:after {
  clear: both;
}
.media-experience-since-tablet .site-branding {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.media-experience-phone #content {
  padding: 2em 1em;
}
.media-experience-since-tablet #primary {
  margin: 0 auto;
  width: 720px;
}
.media-experience-since-tablet #secondary {
  background: black;
  padding: 2em 0;
}
.media-experience-since-tablet #secondary .section {
  margin: 0 auto;
  width: 720px;
}
.media-experience-tablet--large #secondary,
.media-experience-since-desktop #secondary {
  background: transparent;
  padding: 0;
}
.media-experience-tablet--large #secondary .section,
.media-experience-since-desktop #secondary .section {
  width: initial;
}
.media-experience-tablet--large #content,
.media-experience-since-desktop #content {
  width: 880px;
  margin: 0 auto;
}
.media-experience-tablet--large #content:before,
.media-experience-since-desktop #content:before,
.media-experience-tablet--large #content:after,
.media-experience-since-desktop #content:after {
  content: " ";
  display: table;
}
.media-experience-tablet--large #content:after,
.media-experience-since-desktop #content:after {
  clear: both;
}
.media-experience-tablet--large #primary,
.media-experience-since-desktop #primary {
  float: left;
}
.media-experience-tablet--large #secondary,
.media-experience-since-desktop #secondary {
  overflow: hidden;
}
