* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.column,
.column--two {
    border: 1px solid #009dd1;
    background: #00aee2;
    padding: 10px;
    width: 100%;
}

.media-experience-phone .column {
    width: 50%;
}

.media-experience-tablet .column,
.media-experience-tablet .column--two {
    float: left;
}
.media-experience-tablet .column {
    width: 25%;
}
.media-experience-tablet .column--two {
    width: 50%;
}
